/*main styles*/
:root {
    --primary-color: #4A7C59;
    --secondary-color: #F8F4F0;
    --accent-color: #D8E2DC;
    --text-color: #2D3436;
}
body {
 font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}
button,.slider-container, .quick-contact {
    border-radius: 15px;
}

/* Navigation Bar */
.navbar {
    background-color: #d73939;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
    color: #f2f2f2;
}

/* Logo Image */
.logo-img {
    height: 50px;
    width: auto;
}

/* Nav Links Container */
.nav-links {
    list-style: none;

    display: flex;
    gap: 30px;

    margin: 0;
    padding: 0;
}

/* Nav Links */
.nav-links a {
    color: #f2f2f2;
    text-decoration: none;

    font-size: 20px;

    transition: 0.3s;
}

/* Hover Effect */
.nav-links a:hover {
    color: #300404;
}

/*Welcome Section*/
.welcome-section {
    padding: 50px;
    text-align: center;
    font-size: 28px;
    color: #632727;
}

/*Quote Box*/
.slider-container {
    transform: translateX(10px);
    position: relative;
    padding: 30px;
    width: 90%;
    max-width: 700px;
    background: #F8F4F0;
    padding: 50px 60px;
    border: none;
    margin: 40px auto;
    overflow: hidden;
}
.slider {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/*Quote Text & Author*/
.quote{
    font-size: 24px;
    color: #632727;
    text-align: center;
    margin-bottom: 20px;
}
.quote-author {
    font-size: 18px;
    color: #632727;
    text-align: center;
    font-style: italic;
}

/*Welcome Section*/
.welcome-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 1.2rem;
}

/*Quick Contact Button*/
.quick-contact{
    position: fixed;
    bottom: 20px;
    right: 20px;
}